body {
  margin: 0;
  font-size: 20px;
}
h1 {
  margin: 0;
  text-align: center;
}
div {
  background-color: rgb(57, 137, 228);
  width: 850px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 50px;
  text-align: justify;
}
a {
  background-color: rgb(42, 74, 218);
  text-decoration: none;
  color: white;
  font-size: 30px;
  border-radius: 5px;
  padding: 6px;
  display: block;
  text-align: center;
}
a:hover {
  background-color: rgb(8, 6, 12);
}
img {
  width: 100%;
}
span {
  color: rgb(7, 48, 228);
}
